body {
    background: #000;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    background-image: url("../img/main.jpg");
    background-size: cover;
}

#logo {
    padding: 80px 0 20px 0;
    text-align: center;
}

#logo img {
    max-width: 120px;
    border: 5px solid #fff;
    border-radius: 100%;
}

#logo h1 {
    font-size: 36px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, .2) 3px 3px 3px;
    /*text stroke*/
    -webkit-text-stroke: 1px #fff;
}

#section-link ul {
    background: #333;
    padding: 20px;
    height: 200px;
}
#section-link ul li a{
    color: #FFF;
}

#section-data ul {
    color: #FFF;
    background: #333;
    padding: 20px;
    height: 200px;
}